<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="/css/styles-detalle-producto.css" rel="stylesheet">
    <link href="/css/styles-carrito-compras.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css"> </link>
    <!--Links del header-->
    <link href="/css/styles-header.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/13e38d5bb6.js" crossorigin="anonymous"></script>

</head>
<body>
    <header id="header">
        <nav>
			<div id="menu">
				<ul class="menu-left">
                    <i id="burger-menu" class="fa-solid fa-bars fa-2x"></i>
					<li class="item"><a href="/" title="Home">Home</a></li>
					<li class="item"><a href="#header" title="Nosotros">Nosotros</a></li>
					<li class="item"><a href="#header" title="Contacto">Contacto</a></li>
					<li class="item"><a href="/productos" title="Contacto">Productos</a></li>
				</ul>
                <h2 class="brand">TOSTAO</h2>
                <ul class="menu-right">
					<li class="item"><a href="/login" title="Login">Login</a></li>
					<a href="/carrito-compras" title="Carrito"><li class="fa-solid fa-cart-shopping fa-2x"></li></a>
				</ul>
			</div>
		</nav>
    </header>



    <div id="top-div-image">
        <div id="top-div">
            <h2 id="carrito-compras">CARRITO DE COMPRAS</h2>
            <hr class="under-line">
        </div>
    </div>
    <section id="banner">
        <figure>
            <img src="/img/banner-tostado.jpg">
        </figure>
    </section>
    <div id="seccion-producto-principal">
        <div class="seccion-producto-principal-componente-1">
            <img id="imagen-producto-principal" src = "/img/cafe-bolsa-1.png"></img>
        </div>      
        <div lass="seccion-producto-principal-componente-2">
            <div id="caracteristicas-producto">
                <h2 class="nombre-producto">COLOMBIA BLEND</h2>
                <hr id="under-line-producto">
                <p><strong>País:</strong> Colombia</p>
                <p><strong>Cuerpo:</strong> Medio</p>
                <p><strong>Intensidad:</strong> Media</p>
                <p><strong>Notas:</strong> Chocolate, cítricos</p>
            </div>        
    </div>
    <div id="Etiquetas">
        <table border="3"  cellpadding="25">
         <tr>
             <td>Tamaño</td>
             <td>Molienda</td>
             <td>Precio</td>
             <td>Cantidad</td>
             <td>Subtotal</td>
         </tr>
         <tr>
             <td>1Lb</td>
             <td>Grano</td>
             <td>$50</td>
             <td>2</td>
             <td>$100</td>
         </tr>
        </table>
     </div> 
     <footer>
        <section id="footer-first-section">
            <img id="imagen-logo" src = "/img/logo.jpg"></img>
            <article>
                <h4>REDES SOCIALES</h4>
                <p>@tostaocafe</p>                
            </article>
            <article>
                <h4>TÉRMINOS Y CONDICIONES:</h4>
                <p>Términos y condiciones</p>
                <p>suscripciones.</p>
                <p>entrega de productos</p>
                
            </article>
            <article>
                <h4>CONTÁCTANOS</h4>
                <p>(601) 111 2 11 511 - 01 8000 677567</p>
                    <p>Lunes a viernes de 8 am a 5 pm</p>
                        <p>Sábados 8 am a 12 m</p>
                
            </article>
        </section>
    </footer>

</body>
</html>