<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style-header.css">
    <link rel="stylesheet" href="/css/styles_log&reg.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/13e38d5bb6.js" crossorigin="anonymous"></script>
    <title>Tostao</title>
</head>

<body>

    <header id="header">
        <nav>
			<div id="menu">
				<ul class="menu-left">
                    <i id="burger-menu" class="fa-solid fa-bars fa-2x"></i>
					<li class="item"><a href="/index" title="Home">Home</a></li>
					<li class="item"><a href="#header" title="Nosotros">Nosotros</a></li>
					<li class="item"><a href="#header" title="Contacto">Contacto</a></li>
				</ul>
                <h2 class="brand">TOSTAO</h2>
                <ul class="menu-right">
					<li class="item"><a href="/login" title="Login">Login</a></li>
					<a href="/carrito-compras" title="Carrito"><li class="fa-solid fa-cart-shopping fa-2x"></li></a>
				</ul>
			</div>
		</nav>
    </header>

    <main>
        <div class="color_especial header">
            <!--falta indicador pagina-->
            <h2>Iniciar sesión</h2> 
            <h3>!Bienvenido¡ Completá los datos</h3> 
        </div>
        
        <!-- form + captcha + botón + parrafo --> 
        <form action="/registro" method="post" id="formulario1" class="container1"> 
            <div >   
                <div>
                    <!--Grupo Email-->
                    <div class="celda" id="campos_email">             
                        <label for="email">Email<span class="asterisco">*</span></label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">@</span>
                            <input type="email" name="email" class="form-control input" placeholder="Ejemplo@mail.com" id="email" required>
                        </div>
                    </div>

                    <!--Grupo Contraseña-->
                    <div class="celda" id="campos_contraseña">       <!-- FALTA AGREGAR OPCION VER CONTRASEÑA -->
                        <label for="contraseña">Contraseña<span class="asterisco">*</span></label>
                        <div>
                            <input type="password" id="contraseña" class="form-control input" name="contraseña" placeholder="Ej: Contraseña123" required>
                        </div>
                    </div>
                </div>
            
                <div>
                    <button type="submit" class="boton color_especial">Iniciar sesión</button>
                    <p>¿No tenes una cuenta? <a href="/registro" class="color_especial redireccion">Registrate</span></p> 
                    <p id="rc"><a href="/rec_contra" class="color_especial redireccion">¿Olvidaste tu contraseña?</a></p>
                </div>
            </div>
        </form>
    </main>

    <footer>
        <section id="footer-first-section">
            <img id="imagen-logo" src ="/img/logo.jpg"></img>
            <article>
                <h4>REDES SOCIALES</h4>
                <p>@tostaocafe</p>                
            </article>
            <article>
                <h4>TÉRMINOS Y CONDICIONES:</h4>
                <p>Términos y condiciones</p>
                <p>suscripciones.</p>
                <p>entrega de productos</p>
                
            </article>
            <article>
                <h4>CONTÁCTANOS</h4>
                <p>(601) 111 2 11 511 - 01 8000 677567</p>
                    <p>Lunes a viernes de 8 am a 5 pm</p>
                        <p>Sábados 8 am a 12 m</p>
            </article>
        </section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>  
</body>
</html>