<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/style_log&reg.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Tostao</title>
</head>
<body>
    <img src="/rec_contra.jpg" alt=":)">
    <a href="/login.html" id="chiste">Volver</a>
</body>
</html>