footer {
    background: linear-gradient(207.8deg, #DB780F 16.69%, #593527 100%);
    color: white;
    width: 100vw;
}

#imagen-logo {
    width: 15vw;
    margin-top: 25px;
}


#footer-first-section {
    display: flex;
    flex-flow: column wrap;
    width: 80vw;
    margin: auto;
}

#footer-first-section > div {
    display: flex;
    justify-content: center;
}


#footer-second-section {
    text-align: center;
}

#footer-first-section {
    display: flex;
    flex-flow: column wrap;
    width: 80vw;
    margin: auto;
}

#footer-first-section article {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#footer-first-section i{
    font-size: 2em;
    margin-bottom: 0.625rem;
    color: #03264C;
}

#footer-first-section article p{
    margin: 0.1875rem 0;
    text-align: center;
}

#footer-first-section article {
    margin: 1rem 0;
}

#footer-second-section {
    text-align: center;
}


@media screen and (min-width: 1200px){
    #footer-first-section {
        
        display: flex;
        width: 90vw; 
        flex-direction: row;       
        justify-content:space-around;
    }
}
@media screen and (max-width: 1199px){
    .imagen-footer {
        text-align: center;
        display: block; 
    }
}
@media screen and (max-width: 1199px){
#imagen-logo {
    width: 30vw;
}
}