body {
    font-family: 'Jost', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 15px;
    background: url(https://images.pexels.com/photos/942809/pexels-photo-942809.jpeg?cs=srgb&dl=pexels-lukas-942809.jpg&fm=jpg);
	background-attachment: fixed;
	background-size:cover;
    
}

h2{
    text-align: center;
    margin-top: 10px;
    background: url(https://images.pexels.com/photos/942809/pexels-photo-942809.jpeg?cs=srgb&dl=pexels-lukas-942809.jpg&fm=jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	letter-spacing: 2px;
	font-size: 3.5em;
	margin: 0;

}
h3{
    color: #DB780F;
    text-align: center;
    margin-top: 1px;
}

.form-nuevo-producto {
    
    background-image: linear-gradient(to top, rgba(239, 172, 0, 0.4) 0%, rgba(60, 44, 2, 0.71) 100%);
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	text-align: center;
	border-radius: 6px;
	margin: 3em auto;
    margin-top: 150px;
	background: rgba(255, 255, 255, 0.95);
	height: 500px;
	width: 900px;
	padding: 1em;
    color: #DB780F;
	
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;	
}
button {
	background-image: linear-gradient(to left, rgb(255, 199, 86) 0%, rgba(111, 54, 5, 0.995) 100%);
	box-shadow: 0 9px 25px -5px #DB780F;
	border-radius: 6px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1em;
	outline: none;
	border: none;
	transition: 0.3s linear;
}
button:hover{
    transform: translatey(2px);
}
button:active{
    transform: translatey(5px);
}