<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="/css/styles-detalle-producto.css" rel="stylesheet">
    <link href="/css/styles-carrito-compras.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css"> </link>
    <!--Links del header-->
    <link href="/css/styles-header.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/13e38d5bb6.js" crossorigin="anonymous"></script>

</head>
<body>
    <!--Include Header-->
    <%- include('./partials/header') %>

<!-- titulo principal-->
<producto class="pro1">            
    <h1>CARRITO DE COMPRAS</h1>            
</producto>

<!-- Banner-->
<div class="banner">
<img src="/img/banner-tostado.jpg">
</div>

<!-- tabla 1-->
<main class="pro2">
<div class="grid-container">
    <div class="item1">
        <b><div class="title">Tamaño</div></b>
        <b><div class="title">Precio</div></b>
        <b><div class="title">Cantidad</div></b>
        <b><div class="title">Subtotal</div></b>
        <b><div class="title">Molienda</div></b>
   </div>
  <div class="item2">	
        <div class="mains">
            <img class="imgPrdo"src = "/img/cafe-bolsa-1.png"> </img>
            <div class="descProd">
              <h2 class="nombre-producto">COLOMBIA BLEND</h2>                        
              <div><p><strong>País:</strong> Colombia</p></div>
              <div><p><strong>Cuerpo:</strong> Medio</p></div>
              <div><p><strong>Intensidad:</strong> Media</p></div>
              <div><p><strong>Notas:</strong> Chocolate, cítricos</p></div>
            </div>
        </div>
        <div class="mains">
            <img class="imgPrdo"src = "/img/cafe-bolsa-1.png"> </img>
            <div class="descProd">
                <h2 class="nombre-producto">COLOMBIA BLEND</h2>                        
                <div><p><strong>País:</strong> Colombia</p></div>
                <div><p><strong>Cuerpo:</strong> Medio</p></div>
                <div><p><strong>Intensidad:</strong> Media</p></div>
                <div><p><strong>Notas:</strong> Chocolate, cítricos</p></div>
            </div>
        </div>
        <div class="mains">
            <img class="imgPrdo"src = "/img/cafe-bolsa-1.png"> </img>
            <div class="descProd">
                <h2 class="nombre-producto">COLOMBIA BLEND</h2>                        
                <div><p><strong>País:</strong> Colombia</p></div>
                <div><p><strong>Cuerpo:</strong> Medio</p></div>
                <div><p><strong>Intensidad:</strong> Media</p></div>
                <div><p><strong>Notas:</strong> Chocolate, cítricos</p></div>
            </div>
        </div>
    </div> 
    <div class="item3 flexClass">	
        <div class="mains">1 lb</div>
        <div class="mains">Grano</div>
        <div class="mains">$50</div>
        <div class="mains">2</div>
        <div class="mains">$100</div>				
    </div> 
    <div class="item5 flexClass">	
        <div class="mains2">1 lb</div>
        <div class="mains2">Grano</div>
        <div class="mains2">$50</div>
        <div class="mains2">2</div>
        <div class="mains2">$100</div>	
    </div> 
    <div class="item6 flexClass">	
        <div class="mains3">1 lb</div>
        <div class="mains3">Grano</div>
        <div class="mains3">$50</div>
        <div class="mains3">2</div>
        <div class="mains3">$100</div>				
    </div> 
</div>
</main>     

    
     <%-include('./partials/footer') %>
</body>
</html>