<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles-vista-usuario.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/13e38d5bb6.js" crossorigin="anonymous"></script>
  <title>Mi perfil</title>
</head>
<body>
  <!-- PERFIL  DE USUARIO -->
  <section class="perfil-usuario">
    <div class="header">
      <div class="cover">
        <div class="perfil-usuario-avatar">
          <img src="">
        </div>
      </div>
    </div>
    </div>
    <!-- DATOS  DE USUARIO -->
    <div class="usuario-perfil-body">
      <div class="usuario-perfil-bio">
        <h3 class="titulo">Nombre del usuario</h3>
      </div>
      <div class="usuario-perfil-footer">
        <ul class="datos">
          <li>Nombre:</li>
          <li>Correo:</li>
          <li>Telefono: </li>
        </ul>
      </div>
      <!-- BOTENES DE EDITAR Y ELIMINAR USUARIO -->
      <div class="d-grid gap-2 d-md-block">
        <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="#" role="button">Editar Perfil</a>
        <a type="button" class="btn btn-outline-danger" class="btn btn-primary" href="#" role="button">Eliminar Perfil</a>
      </div>
    </div>
  </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>  
</body>

</html>