body {
 font-family: 'Jost', sans-serif;
 background-color: black;
 color: white;
 margin: 0 ;
 display: block;
    
}
/*ENCABEZADO*/
.encabezado{
  display: flex;
  justify-content: center;

}
.encabezado h1{
  color: #DB780F;
}

/*CATALOGO*/
.container-catalogo{
  display: flex;
  justify-content: center;
}

  .catalogo {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    margin-right: 45px;
  }
  
 .catalogo h4 {
    font-size: 18px;
    font-weight: 600;
    color:#DB780F;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
 .catalogo ul li {
    /* display: inline-block; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .catalogo ul li a {
    font-size: 15px;
    color: #DB780F;
    font-weight: 500;
    transition: all .3s;
  }
  
 .catalogo ul li a:hover {
    color: #a12c2f;
  }
  
 .catalogo .ayuda-catalogo {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 15px;
  }
  
.catalogo .ayuda-catalogo a {
    width: 100%;
    text-align: center;
  }

.boton-catalogo{
  background-color: #DB780F;
  position: center;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  transition: all .3s;

}
.boton-catalogo:hover{
  cursor: pointer;
  opacity: 0.7;
}
  
  /*PRODUCTOS*/

  section.productos-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
  }

  .producto-tarjeta{
    height: 500px;
  }
  .producto-tarjeta:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgb(249, 203, 36);
  }


.productoimg {
  text-align: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.productoimg:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-timing-function:ease;
}


@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.productoimg{
display: block;
margin-top: 20px;
width: 100%
}

.precio {
display: flex;
justify-content: center;
margin-left: 80px;
margin-top: 10px;
border-radius: 100%;
border-color: #fff;
background-color: #fff;
width: 100px;
}

.precio span {

  color: #DB780F;
  font-size: 22px;
  margin-top: 7px;
} 

.nombre-conteiner{
  display: flex;
  justify-content: center;
}

.botones-producto{
  
}

.boton-vermas{       
  width: 50%;

  background-color: #DB780F;
  position: center;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  margin-bottom: 20%;
  margin-left: 25%;
  transition: all 0.5s ease-out;
 
}
.boton-vermas:hover,
.boton-vermas:focus {
background-color: white;
color: black;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgb(249, 203, 36);
cursor: pointer;
}

.boton-carrito{
  border-radius: 100%;
  width:50px ;
  height:50px ;
}

.boton-carrito:hover{
border-color: #DB780F;
}

.boton-carrito i{
  color: black;
}

@media(min-width:420px){
  section.productos-conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between ;
  }
}

@media(min-width:777px){
  .container-catalogo{
    margin-right: 65%;
    
    
  }
}


/*   section.producto-conteiner {
    background-image: url(../images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 110px;
  } */
  /*
  .producto-item {
    margin-bottom: 30px;
  }
  
  .producto-item .thumb {
    position: relative;
  }
  
  .producto-item .thumb img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  

  
  .producto-item .thumb .price span {
    font-size: 16px;
    color:#DB780F;
    font-weight: 600;
    background-color: rgba(250,250,250,0.9);
    padding: 7px 12px;
    border-radius: 10px;
  }
  
  .producto-item .abajo-item {
    background-color: #fff;
    padding: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .producto-item .abajo-item .date {
    float: left;*
    text-align: center;
    display: inline-block;
    margin-right: 20px;
  }
  
  .producto-item .abajo-item .date h6 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #a12c2f;
  }
  
  .producto-item .abajo-item .date span {
    display: block;
    color: #DB780F;
    font-size: 22px;
    margin-top: 7px;
  }
  
  .producto-item .abajo-item h4 {
    font-size: 18px;
    color:#DB780F;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
  }
  
  .producto-item .abajo-item p {
    margin-left: 50px;
    color: #DB780F;
    font-size: 14px;
  } */
  
  
  

