body {
    font-family: 'Jost', sans-serif;
    background-color: black;
    color: white;
    margin: 0px;
    
}

#top-div-image {
    background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("/img/cafe-taza.jpg");
    background-size:100%;
    height: 300px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
}

#top-div {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: auto;
}

#cafe-premium {
    color: #DB780F;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}

#sabores {
    color: white;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 26px;
}

.under-line {
    width: 100px;
    background-color: #DB780F;
    border-color: #DB780F;
    height: 2px;

}

#under-line-producto {
    width: 100px;
    background-color: #DB780F;
    border-color: #DB780F;
    height: 2px;

}


#imagen-producto-principal {
    width: 100%;
    margin: auto;
}

#caracteristicas-producto {
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 20px;

}

.nombre-producto {
    color: #DB780F;
}

#opciones-producto {
    margin-top: 100px;
    text-align: center;
}

.opciones {
    color: #DB780F;
    font-size: 26px;
}

.select-opciones {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 5%;
}

#precio-producto {
    font-size: 26px;
    margin-top: 40px;
}

#boton-agregar-carrito {
    width: 300px;
    height: 50px;
    background-color: black;
    border: 2px solid #DB780F;
    border-radius: 3%;
    color: #DB780F;
    font-size: 20px;
    transition: all 500ms;
}

#boton-agregar-carrito:hover {
    background-color: #DB780F;
    color: white;
    cursor: pointer;
    opacity: 0.7;
}

#descripcion-producto {
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("/img/cafe-hojas.jpg");
    background-size:100%;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;

}

#texto-descripcion-producto {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}


#productos-relacionados-titulo{
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#productos-relacionados {
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.un-producto-relacionado {
    margin-bottom: 80px;
}

.nombre-producto-relacionado {
    font-weight: bold;
    transition: all 750ms;

}

.nombre-producto-relacionado:hover {
    color:#DB780F;
    cursor: pointer;
}

.imagen-producto-relacionado {
    text-align: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.imagen-producto-relacionado:hover {
    cursor: pointer;
    animation-name: bounce;
    animation-timing-function:ease;
}



@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}


@media (min-width : 900px)  {

    #seccion-producto-principal {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;

    }

    .seccion-producto-principal-componente-1 {
        width: 600px;
        display:flex;
        align-items: center;
    }
    
    .seccion-producto-principal-componente-2 {
        width: 600px;
        text-align: left;
    }

    #under-line-producto {
        text-align: left;
        margin-left: 0;
    
    }


    #caracteristicas-producto {
        text-align: left;
        margin-top: 80px;
        color: white;
        font-size: 15px;

    }
    
    .nombre-producto {
        color: #DB780F;

    }
    
    #opciones-producto {
        margin-top: 50px;
        text-align: left;
    }
    
    .opciones {
        color: #DB780F;
        font-size: 20px;

    }
    
    .select-opciones {
        border: 2px solid white;
        background-color: black;
        color: white;
        padding: 5px;
        width: 100px;
        border-radius: 5%;
  
    }
    
    #precio-producto {
        font-size: 20px;
        margin-top: 20px;
    }
    
    #boton-agregar-carrito {
        width: 300px;
        height: 50px;
        background-color: black;
        border: 2px solid #DB780F;
        border-radius: 3%;
        color: #DB780F;
        font-size: 20px;
        transition: all 500ms;
    }

    
}